# Исключаем отладочные и временные файлы
*.obj
*.exe
*.pdb
*.idb
*.suo
*.user
*.ipch
*.aps
*.ncb
*.log
*.tlog
*.lastbuildstate
*.opensdf
*.sdf
*.cache
*.ilk
*.tmp
*.vcxproj.user
# файлы для инициализации в OpenServer
.osp

# Папки Visual Studio
Debug/
Release/
x64/
ipch/
.vs/

# Файлы с путем
launch.json
db_credentials.php